{% extends 'base.html' %}
{% block content %}
<body style='background-color: black; color:aliceblue; font-family:"Anta";'>
<div class="container " style="background-color: black; color:aliceblue;">
  <div class="row">
    <div class="col-3">
      <ul class="'list-group" style="padding-left: 0rem;">
        <h3>>Real-time</h3>
        <h3>>Top 10</h3>
        <h3>>Crypto Price</h3>
          {% for ticker in tickers%}
          <li class="border text-left border-4 rounded" style="list-style: none; padding: 7px;">
            <p>{{ticker.name}} : ${{ticker.price_usd}} ({{ticker.symbol}})</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-6 border text-left border-4 rounded" id="feed">
      <h1>>Latest News Feeds</h1>
      <ul class="list-group">
        {% for feed in feeds %}
          <li class="list-group-item" style="list-style: none;">
            <div class="message-area"> 
              <p>
                {{ feed.title }}
                <form method="POST" action="/feed/{{feed.id}}/star" id="feeds-form">
                  <button class="btn btn-sm {% if feed.id in starred_feeds|map(attribute='feed_id') %}btn-success{% else %}btn-secondary{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                    </svg>
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">You got it!</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          confirmed!
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </p>
            </div>
          </li>
        {% endfor %}  
      </ul>
    </div>
    <div class="col-3">
      <ul class="'list-group" style="padding-left: 0rem;">
        <h3>>Real-time</h3>
        <h3>>Global</h3>
        <h3>>Crypto Data</h3>
        {% for data in global_crypto_data %}
          <li class="border text-center border-4 rounded" style="list-style: none;">
            <p>Bitcoin Dominance : {{data.btc_d}}%</p>
            <p>Ethereum Dominance : {{data.eth_d}}%</p>
            <p>Market Cap Changed % last 24hr   : {{data.mcap_change}}%</p>
            <p>Trading Vol. Changed % last 24hr : {{data.volume_change}}%</p>
            <p>Total # of Coins : {{data.coins_count}}</p>
            <p>Total Market Cap : ${{data.total_mcap}}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
</body>