{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid home-here">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Get Latest Crypto News and Trends</h1>
                 <h4 class="text-center">New to <b>inuit?</b></h4>
                <p class="text-center">Sign up now to get your own personalized crypto news!</p>
                <a href="/signup" class="btn btn-dark col-md-6 offset-md-3">Sign up</a>
                <h1><i class="bi bi-currency-bitcoin"></i>
                    <i class="bi bi-coin"></i>
                    <i class="bi bi-cash-coin"></i>
                    <i class="bi bi-alarm"></i>
                    <i class="bi bi-currency-dollar"></i>
                    <i class="bi bi-currency-exchange"></i>
                    <i class="bi bi-currency-bitcoin"></i>
                    <i class="bi bi-coin"></i>
                    <i class="bi bi-cash-coin"></i>
                    <i class="bi bi-alarm"></i>
                    <i class="bi bi-currency-dollar"></i>
                    <i class="bi bi-currency-exchange"></i>
                    <i class="bi bi-currency-bitcoin"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}