{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2 class="join-message">Edit Your Profile.</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}
        
            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
                {{ field(placeholder=field.label.text, class='form-control')}}
            {% endfor %}
        
            <p>To confirm changes, enter your password</p>
            {% with errors = get_flashed_messages() %}
            {% if errors %}
             <div class="alert alert-danger" role="alert">
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% endwith %}
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
            <div class="edit-btn-area">
                <button class="btn btn-success">Edit User Profile</button>
                <a href="/" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
        <form method="POST" action="/users/delete" class="form-inline">
            <button class="btn btn-outline-danger ml-2">Delete Profile</button>
        </form>
    </div>

</div>

{% endblock %}