{% extends 'base.html' %}
{% block body_class %}onboarding{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="com-md-7 col-lg-5">
            <h2 class="join-message" style='font-family:"Anta";'>Welcome back.</h2>

            <form method="POST" id="user_form" style='font-family:"Anta";'>
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% with errors = get_flashed_messages() %}
                         {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                    {% endwith %}
                    {{ field(placeholder=field.label.text, class='form-control') }}
                {% endfor %}
                <button class="btn btn-dark col-md-4 offset-md-4">Log in</button>
            </form>
        </div>
    </div>
{% endblock%}